# Dependencias de Node
node_modules

# Archivo de variables de entorno (contiene secretos)


# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db